*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/config/development/db.php
fuel/app/config/db.php
build
nbproject/
.idea

/fuel/app/config/crypt.php
