html, body {
  height: 100%;
  background-color: #fcfcfc;
}

#logo{
	display: block;
	/* width: 179px; */
	height: 45px;
	position: relative;
	top: 20px;
  color: #dcdcdc
}

div#logo>h1>a {
  color: #dcdcdc;
}
div#logo>h1>a:hover {
  color: #cdcdcd;
  text-decoration: none;
}

#header{
	height: 75px;
  background: -moz-linear-gradient(top, #2a2a2a, #2a2a2a);
  background: -webkit-gradient(linear, left top, left bottom, from(#2a2a2a), color-stop(0.8, #2a2a2a), to(#3a3a3a));
	width: 100%;
	margin-bottom: 40px;
}
#header .row{
	width: 940px;
	margin: 0 auto;
}
a{
	color: #883ced;
}
a:hover {
	color: #af4cf0;
}
.btn.btn-primary{
  color:#ffffff!important;
  background-color:#883ced;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#fd6ef7), to(#883ced));
  background-image:-moz-linear-gradient(top, #fd6ef7, #883ced);
  background-image:-ms-linear-gradient(top, #fd6ef7, #883ced);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd6ef7), color-stop(100%, #883ced));
  background-image:-webkit-linear-gradient(top, #fd6ef7, #883ced);
  background-image:-o-linear-gradient(top, #fd6ef7, #883ced);
  background-image:linear-gradient(top, #fd6ef7, #883ced);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd6ef7', endColorstr='#883ced', GradientType=0);
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color:#883ced #883ced #003f81;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
body { margin: 0px 0px 40px 0px; }

div.hero-unit.stealth {
  background-color: transparent;
  padding-left: 0;
  padding-top : 30px;
}

div.hero-unit>div>small {
  color: #999;
}

hr.styling {
  background-color: transparent;
  color: transparent;
  height: 0;
  border: 0;
  clear: both;
  padding:0;
  margin: 0;
}

hr.styling.margined {
  margin-top: 40px;
}
blockquote>small>a {
  color: #999;
}
blockquote>small>a:hover {
  text-decoration: none;
}

tr.nowplaying {
  font-weight: bold;
  background-color: #eee;
}

.play-next,.play-prev,.switch-pause,.play-direct {
  cursor: pointer;
}

div.loader.middle {
  float: right;
  width:  25px;
  height: 25px; 
  border: medium solid #aaa;
  border-radius: 25px;
  -webkit-animation-name: loader;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform : rotate(0deg);
    border-radius: 30px;
  }
  10% {
    -webkit-transform : rotate(36deg);
    border-radius: 25px;
  }
  20% {
    -webkit-transform : rotate(72deg);
    border-radius: 20px;
  }
  30% {
    -webkit-transform : rotate(108deg);
    border-radius: 15px;
  }
  40% {
    -webkit-transform : rotate(144deg);
    border-radius: 10px;
  }
  50% {
    -webkit-transform : rotate(180deg);
    border-radius: 5px;
  }
  60% {
    -webkit-transform : rotate(216deg);
    border-radius: 10px;
  }
  70% {
    -webkit-transform : rotate(252deg);
    border-radius: 15px;
  }
  80% {
    -webkit-transform : rotate(288deg);
    border-radius: 20px;
  }
  90% {
    -webkit-transform : rotate(324deg);
    border-radius: 25px;
  }
  100% {
    -webkit-transform : rotate(360deg);
    border-radius: 30px;
  }
}

div.row.streaming-contents {
  margin-top: 20px;
}

div#age-face-hidden {
  position: fixed;
  /* */
  top: 3000px;
  /***/
  width: 100%;
  text-align: center;
  font-size: 15em;
  font-weight: bold;
  text-shadow: 0 0 10px #f0f;
}

div#sage-face-hidden {
  position: fixed;
  /* */
  bottom: -300px;
  /***/
  width: 100%;
  text-align: center;
  font-size: 15em;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
}

div#reject-face-hidden {
  position: fixed;
  /* */
  top: 90px;
  left: 2000px;
  /***/
  width: 2000px;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: bold;
}

object#player {
  /*
  position: fixed;
  top: -500px;
  */
}

div#control-pannel {
  padding-top: 5px;
  border-top: thin solid #ddd;
}

div#anime-evaluation {
  margin-bottom: 10px;
}

div#share {
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  height: 16px;
  position: relative;
}
div#share>div:hover {
  -webkit-opacity: 1;
     -moz-opacity: 1;
          opacity: 1;
}
div#share>div {
  -webkit-opacity: 0.5;
     -moz-opacity: 0.5;
          opacity: 0.5;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
div#share>div#share-fb {
  left: 0px;
}
div#share>div#share-tw {
  left: 17px;
}
div#share>div>img {
  height: 16px;
}
div#share>div#share-sh {
  left: 34px;
  height: 16px;
  background-color: #000;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
div#share-sh>span {
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  color: #fff;
  font-weight: bold;
  font-size: 8px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 3px;
}

a.black {
  color: black;
}
