div#logo {
  background-image: url('http://anicatch.net/assets/img/square.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div#logo:hover {
  background-image: url('');
}

div.amzn_wdgt div {
  width: 300px;
}

div.amzn_wdgt * a {
  font-weight: bold;
  font-size:  1.2em;
}

span.caret {
  margin-top: 0.4em;
  opacity: 0.1;
}
a:hover > span {
  opacity: 1;
}
