// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin boxy {
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
}

@mixin trigger {
  width: 100px;
}
@mixin trigger {
  width: 100px;
}
@mixin level01 {
  font-size: 3em;
  line-height: 1em;
}


div#play-area {
  @include boxy;
  div#video-container {
    width: 420px;
  }
  div#title-container {
    h1 {
      @included level02;
    }
    h2 {
    }
  }
}
div#table-area {
  border: thin solid #000;
  background-color: #eee;
  padding: 15px;
  table {
    tr {
      th {
      }
      td {
        img {
          width: 100px;
        }
      }
    }
  }
  h1.stay-center {
    text-align: center;
  }
}
