// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin boxy {
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
}
@mixin bb {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
}
@mixin pullright {
  text-align: right;
}

@mixin trigger {
  width: 100px;
}
@mixin trigger {
  width: 100px;
}
@mixin clickable {
  cursor: pointer;
}


div#play-area {
  @include boxy;
  width:100%;
  div#video-container {
    width: 420px;
  }
  div#title-container {
    @include bb;
    padding: 10px;
    h1#anime-title {
      margin-top: 0;
    }
    h2#video-title {
    }
    div#actions-to-anime {
      a {
        font-size: 2em;
      }
      a.action-age:hover, a.action-age:focus {
        background-color: orange;
      }
    }
    div#video-controllers {
      position: relative;
      bottom: 0;
      @include boxy;
      @include bb;
      div {
        padding: 10px;
        a {
          img {
            @include clickable;
            height: 25px;
          }
        }
      }
    }
  }
}
div#table-area {
  border: thin solid #000;
  background-color: #eee;
  padding: 15px;
  table {
    tr {
      th {
      }
      td {
        img {
          width: 100px;
          padding: 0 2px;
          @include clickable;
        }
      }
    }
  }
  h1.stay-center {
    text-align: center;
  }
}
div#age-response-ux {
  position: fixed;
  top : 150%;
  span {
    font-size: 180px;
  }
}
